Repository hmcts/hwf-staffapp, pull requests merged in 2023-09, with the labels that each got.

#1469 Update Chart.yaml
  Gemfile
  Gemfile.lock
  app/controllers/health_status_controller.rb
  charts/help-with-fees-staffapp/Chart.yaml
  charts/help-with-fees-staffapp/values.yaml
  config/environments/production.rb
  config/routes.rb
  lib/tasks/test.rake
  spec/controllers/health_status_controller_spec.rb
  spec/rails_helper.rb
  spec/routing/health_status_spec.rb
Labels: ns:help-with-fees, rel:help-with-fees-staffapp-pr-1469, prd:help-with-fees

#1471 Update base and rename Chart.yaml
  charts/help-with-fees-staffapp/Chart.yaml
  charts/help-with-fees-staffapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1471

#1479 Update MEM & CPU Chart.yaml
  charts/help-with-fees-staffapp/Chart.yaml
  charts/help-with-fees-staffapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1479

#1480 remove prod secret from conf for demo build
  charts/help-with-fees-staffapp/Chart.yaml
  charts/help-with-fees-staffapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1480

#1481 remove dev secret requirement
  charts/help-with-fees-staffapp/Chart.yaml
  charts/help-with-fees-staffapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1481

#1483 set BC access to public URL
  charts/help-with-fees-staffapp/Chart.yaml
  charts/help-with-fees-staffapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1483

#1491 Updating app insight key
  charts/help-with-fees-staffapp/Chart.yaml
  charts/help-with-fees-staffapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1491

#1495 Minor gem updates
  .rubocop.yml
  Gemfile.lock
  app/controllers/users/invitations_controller.rb
  app/controllers/users_controller.rb
  app/models/office.rb
  app/models/user.rb
  charts/help-with-fees-staffapp/Chart.yaml
  config/application.rb
  config/initializers/new_framework_defaults_6_1.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1495

#1498 System/gem updates v15
  Gemfile
  Gemfile.lock
  charts/help-with-fees-staffapp/Chart.yaml
  spec/controllers/users_controller/admin_users_controller_spec.rb
  spec/controllers/users_controller/logged_out_users_controller_spec.rb
  spec/controllers/users_controller/manager_users_controller_spec.rb
  spec/controllers/users_controller/mi_users_controller_spec.rb
  spec/controllers/users_controller/standard_users_controller_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1498

#1501 RST-5917 - Updating folder for export
  app/models/views/reports/applicants_per_fy_export.rb
  charts/help-with-fees-staffapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1501
