Repository hmcts/hwf-staffapp, pull requests merged in 2024-01, with the labels that each got.

#1581 RST-6055 Staff guide content
  app/helpers/guide_helper.rb
  app/views/guide/index.html.slim
  features/staff_guides.feature
  features/step_definitions/staff_guides_steps.rb
  features/support/page_objects/guide_page.rb
  spec/helpers/guide_helper_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1581

#1578 RST-5995 mi report v3
  app/models/views/reports/hmrc_ocmc_data_export.rb
  app/models/views/reports/ocmc_data_export.rb
  app/models/views/reports/ocmc_export_helper.rb
  app/models/views/reports/raw_data_export.rb
  spec/models/views/reports/hmrc_ocmc_data_export_spec.rb
  spec/models/views/reports/ocmc_data_export_spec.rb
  spec/models/views/reports/raw_data_export_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1578

#1586 RST-6179 rounding
  app/lib/band_calculation_income.rb
  spec/lib/band_base_calculation_spec.rb
  spec/models/forms/evidence/income_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1586

#1577 RST-6103 Added conditional greeting message to templates
  app/controllers/applications/process/incomes_controller.rb
  app/helpers/greeting_helper.rb
  app/lib/band_base_calculation.rb
  app/services/process_application.rb
  app/views/applications/process/confirmation/index.html.slim
  app/views/evidence/return_letter.html.slim
  app/views/evidence_checks/show.html.slim
  app/views/part_payments/_failed_letter.html.slim
  app/views/part_payments/return_letter.html.slim
  app/views/reports/new_letters.html.slim
  app/views/shared/_refund_template.html.slim
  config/locales/new_letters_en.yml
  spec/controllers/applications/process/incomes_controller_spec.rb
  spec/controllers/online_applications_controller_spec.rb
  spec/helpers/greeting_helper_spec.rb
  spec/lib/band_base_calculation_spec.rb
  spec/services/process_application_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1577

#1590 RST-6201 Fixing max threshold check
  app/lib/band_base_calculation.rb
  spec/lib/band_base_calculation_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1590

#1589 RST-6148 added logic to application.rb to show income kind names in p…
  app/models/forms/application/income_kind_applicant.rb
  app/models/forms/application/income_kind_partner.rb
  app/models/views/overview/income.rb
  spec/models/forms/application/income_kind_applicant_spec.rb
  spec/models/forms/application/income_kind_partner_spec.rb
  spec/models/views/overview/application_spec.rb
  spec/models/views/overview/income_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1589

#1591 RST-6203 paper savings
  app/lib/band_calculation_helper.rb
  charts/help-with-fees-staffapp/Chart.yaml
  spec/lib/band_base_calculation_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1591

#1598 RST-6147 summary page refund benefit amount
  app/models/forms/benefits_evidence.rb
  app/models/views/overview/income.rb
  app/services/benefit_check_runner.rb
  spec/models/forms/benefits_evidence_spec.rb
  spec/models/views/overview/income_spec.rb
  spec/services/benefit_check_runner_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1598

#1594 RST-6175 Changed benefit text
  charts/help-with-fees-staffapp/Chart.yaml
  config/locales/en.yml
  spec/features/applications/processing_refund_application_spec.rb
  spec/support/admin_application_steps.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1594

#1599 RST-5969 rails 7
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
  bin/setup
  charts/help-with-fees-staffapp/Chart.yaml
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/content_security_policy.rb
  config/initializers/devise.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/initializers/permissions_policy.rb
  lib/tasks/test.rake
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1599

#1603 RST-6216 - Allow 0 total income on HMRC check
  app/models/hmrc_check.rb
  config/settings.yml
  spec/models/hmrc_check_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1603

#1604 RST-5890 - Fixing error message typo
  config/locales/en.yml
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1604

#1608 Minor gem updates
  Gemfile.lock
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1608

#1602 RST-6178 declaration page v2
  app/controllers/application_controller.rb
  app/controllers/applications/process/savings_investments_controller.rb
  app/controllers/benefit_overrides_controller.rb
  spec/controllers/applications/process/savings_investments_controller_spec.rb
  spec/controllers/benefit_overrides_controller_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1602

#1605 RST-6126 children split fix on summary page
  app/models/views/overview/application.rb
  app/models/views/overview/overview_helper.rb
  spec/models/views/overview/application_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1605

#1614 RST-6209 and RST-6074 - 3 month rule
  app/models/concerns/refund_validatable.rb
  app/models/forms/application/detail.rb
  app/models/forms/application/fee_status.rb
  charts/help-with-fees-staffapp/Chart.yaml
  config/locales/en.yml
  spec/models/forms/application/fee_status_spec.rb
  spec/support/shared_examples/date_received_validation.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1614

#1617 RST-6253 Smoke tests only for now
  lib/tasks/test.rake
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1617

#1610 Rst 6149
  app/models/forms/application/benefit.rb
  app/views/applications/process/summary/_post_ucd.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
  spec/models/forms/application/benefit_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1610
