Repository hmcts/hwf-staffapp, pull requests merged in 2024-12, with the labels that each got.

#1937 RST-6306 - Removing 3 months check for DWP call
  app/controllers/applications/process/benefits_controller.rb
  app/helpers/paper_evidence_helper.rb
  app/services/benefit_check_runner.rb
  app/services/online_benefit_check_runner.rb
  features/refund_paper_application.feature
  spec/features/applications/processing_refund_application_spec.rb
  spec/features/benefit_override/out_of_time_refund_application_handled_correctly_spec.rb
  spec/helpers/paper_evidence_helper_spec.rb
  spec/services/benefit_check_runner_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1937

#1928 Removing old tests and removing tags
  features/evidence.feature
  features/notification_banner.feature
  features/sign_in.feature
  features/step_definitions/sign_in_steps.rb
  features/support/page_objects/sign_in_page.rb
  features/your_feedback.feature
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1928

#1940 Gem updates v2
  Gemfile
  Gemfile.lock
  config/cucumber.yml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1940

#1939 RST-7027 - Updated staff guidance URL
  app/helpers/guide_helper.rb
  charts/help-with-fees-staffapp/Chart.yaml
  features/step_definitions/staff_guides_steps.rb
  spec/helpers/guide_helper_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1939

#1943 RST-7030 Fee amount format in Application Details
  app/views/applications/process/details/index.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1943

#1946 Minor gem updates
  Gemfile.lock
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1946

#1951 rst-7012 Validate case number if application is a refund
  app/models/forms/application/detail.rb
  app/models/forms/online_application.rb
  charts/help-with-fees-staffapp/Chart.yaml
  config/locales/en.yml
  spec/factories/online_applications.rb
  spec/features/applications/processing_refund_application_spec.rb
  spec/features/online_applications/evidence_check_spec.rb
  spec/models/forms/application/detail_spec.rb
  spec/support/admin_application_steps.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1951

#1957 Minor gem updates
  Gemfile.lock
  charts/help-with-fees-staffapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1957

#1955 RST-7029 Display partner info
  app/models/online_application.rb
  app/views/online_applications/edit.html.slim
  spec/factories/online_applications.rb
  spec/features/online_applications/staff_can_add_details_spec.rb
  spec/models/online_application_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1955
