Repository hmcts/hwf-staffapp, pull requests merged in 2024-06, with the labels that each got.

#1736 RST- 6671 date received override by discretion
  app/assets/javascripts/application.js
  app/assets/javascripts/date_received_online.js
  app/controllers/online_applications_controller.rb
  app/helpers/online_application_helper.rb
  app/models/forms/online_application.rb
  app/models/validators/date_received_validator.rb
  app/models/views/overview/details.rb
  app/views/online_applications/edit.html.slim
  config/locales/en.yml
  db/migrate/20240528115411_add_discretion_to_online_application.rb
  db/migrate/20240531091401_remove_discretion_details_from_online_application.rb
  db/schema.rb
  sonar-project.properties
  spec/controllers/online_applications_controller_spec.rb
  spec/models/forms/online_application_spec.rb
  spec/models/views/overview/details_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1736

#1744 Minor ruby update and gem updates
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1744

#1714 RST-6406 Income checkbox options update
  app/helpers/income_kind_helper.rb
  app/views/applications/process/income_kind_applicants/index.html.slim
  app/views/applications/process/income_kind_partners/index.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
  config/locales/en.yml
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1714

#1737 RST-6612 Update to new letter template for partial refund representation
  app/views/reports/new_letters.html.slim
  app/views/shared/_refund_template.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
  config/locales/new_letters_en.yml
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-1737

#1751 RST-6700 Updating 3 months validation rules
  app/models/forms/online_application.rb
  app/models/validators/date_received_validator.rb
  spec/models/forms/online_application_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1751

#1760 RST-6718 Fixing missing attribute for discretion and online
  app/models/views/overview/details.rb
  charts/help-with-fees-staffapp/Chart.yaml
  spec/models/views/overview/details_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1760

#1756 Minor gem updates
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1756

#1765 Version up
  charts/help-with-fees-staffapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1765

#1770 Minor gem updates
  Gemfile
  Gemfile.lock
  charts/help-with-fees-staffapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-1770
