Repository hmcts/hwf-staffapp, pull requests merged in 2025-03, with the labels that each got.

#2028 RST-7164 - Updated all empty blank fields to 'N/A'
  Gemfile
  Gemfile.lock
  app/builders/finance_report_builder.rb
  app/builders/finance_transactional_report_builder.rb
  app/models/views/reports/applicants_per_fy_export.rb
  app/models/views/reports/audit_personal_data_report.rb
  app/models/views/reports/hmrc_ocmc_data_export.rb
  app/models/views/reports/hmrc_purged_export.rb
  app/models/views/reports/income_claims_data_export.rb
  app/models/views/reports/ocmc_export_helper.rb
  app/models/views/reports/raw_data_export.rb
  app/views/reports/public.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
  spec/builders/finance_transactional_report_builder_spec.rb
  spec/models/views/reports/audit_personal_data_report_spec.rb
  spec/models/views/reports/finance_report_data_row_spec.rb
  spec/models/views/reports/hmrc_ocmc_data_export_spec.rb
  spec/models/views/reports/hmrc_purged_export_spec.rb
  spec/models/views/reports/raw_data_export_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-2028

#2025 RST-7140 - Fixed check details page showing wrong message
  app/views/shared/_remission_type_post_ucd.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
  spec/factories/applications.rb
  spec/features/evidence-checks/post_ucd_evidence_check_summary_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-2025

#2032 Minor gem updates
  Gemfile.lock
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2032

#2016 RST-7163 - Processing summary update
  app/models/views/processed_data.rb
  app/views/shared/_processed_summary.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-2016

#2041 RST-7160 notes for record changes
  README.md
  app/models/applicant.rb
  app/models/application.rb
  app/models/benefit_check.rb
  app/models/detail.rb
  app/models/dev_note.rb
  app/models/evidence_check.rb
  app/models/hmrc_check.rb
  app/models/office.rb
  app/models/online_application.rb
  app/models/part_payment.rb
  app/models/saving.rb
  db/migrate/20250310135503_create_dev_notes.rb
  db/schema.rb
  spec/models/dev_note_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2041

#2050 Minor gem and rails updates
  Gemfile.lock
  lib/hmrc_frequency_helper.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2050

#2051 RST-7211 - Error messages to follow standards
  app/models/forms/application/applicant.rb
  app/models/forms/application/dependent.rb
  app/models/forms/application/detail.rb
  app/models/forms/application/fee_status.rb
  app/views/applications/process/benefits/index.html.slim
  app/views/applications/process/declaration/index.html.slim
  app/views/applications/process/dependents/_post_ucd.html.slim
  app/views/applications/process/dependents/_pre_ucd.html.slim
  app/views/applications/process/details/index.html.slim
  app/views/applications/process/fee_status/index.html.slim
  app/views/applications/process/income_kind_applicants/index.html.slim
  app/views/applications/process/income_kind_partners/index.html.slim
  app/views/applications/process/incomes/index.html.slim
  app/views/applications/process/partner_informations/index.html.slim
  app/views/applications/process/personal_informations/index.html.slim
  app/views/applications/process/representative/index.html.slim
  app/views/applications/process/savings_investments/index.html.slim
  app/views/benefit_overrides/paper_evidence.html.slim
  app/views/shared/_error_block.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
  config/locales/en.yml
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-2051
