Repository hmcts/hwf-staffapp, pull requests merged in 2025-04, with the labels that each got.

#2059 Minot gem update and refactor
  Gemfile.lock
  app/services/evidence_check_selector.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2059

#2058 RST-7149 Filtering for evidence
  Gemfile
  Gemfile.lock
  app/controllers/evidence_checks_controller.rb
  app/controllers/part_payments_controller.rb
  app/helpers/application_helper.rb
  app/helpers/filter_application_helper.rb
  app/models/query/waiting_for_evidence.rb
  app/models/query/waiting_for_part_payment.rb
  app/services/load_applications.rb
  app/views/evidence_checks/index.html.slim
  app/views/home/_waiting_applications.html.slim
  app/views/part_payments/index.html.slim
  config/locales/en.yml
  features/support/capybara_driver_helper.rb
  spec/controllers/evidence_checks_controller_spec.rb
  spec/controllers/part_payments_controller_spec.rb
  spec/models/query/waiting_for_evidence_spec.rb
  spec/models/query/waiting_for_part_payment_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2058

#2066 HMRC API gem update
  Gemfile
  Gemfile.lock
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2066

#2067 RST-7242 - Updating premium band check and adding more tests
  app/lib/band_base_calculation.rb
  app/lib/band_calculation_helper.rb
  app/lib/band_calculation_income.rb
  spec/lib/band_base_calculation_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2067

#2071 Minor gem updates
  Gemfile.lock
  package.json
  yarn.lock
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-2071

#2076 RST-7259 - Benefits page content update
  app/views/benefit_overrides/paper_evidence.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
  config/locales/en.yml
  spec/features/applications/processing_refund_application_spec.rb
  spec/support/admin_application_steps.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-2076

#2083 Gem updates v14
  Gemfile.lock
  app/helpers/common_scopes.rb
  app/helpers/result_helper.rb
  app/lib/income_calculation.rb
  app/models/views/reports/hmrc_ocmc_data_export.rb
  app/models/views/reports/public_submission_data.rb
  spec/controllers/offices_controller_spec.rb
  spec/controllers/processed_applications_controller_spec.rb
  spec/helpers/result_helper_spec.rb
  spec/models/forms/application/detail_spec.rb
  spec/models/forms/application/fee_status_spec.rb
  spec/models/forms/online_application_spec.rb
  spec/models/views/application_result_spec.rb
  spec/models/views/overview/application_spec.rb
  spec/services/benefit_check_runner_spec.rb
  spec/services/resolver_service_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2083

#2084 Frontend libs update
  package.json
  yarn.lock
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-2084

#2073 RST-7015 Additional income now based on date range
  README.md
  app/helpers/hmrc_check_helper.rb
  app/models/forms/evidence/additional_income.rb
  app/models/forms/evidence/hmrc_check.rb
  app/views/evidence/hmrc/show.html.slim
  config/settings.yml
  spec/helpers/hmrc_check_helper_spec.rb
  spec/models/forms/evidence/hmrc_check_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-2073
