Repository hmcts/hwf-staffapp, pull requests merged in 2025-09, with the labels that each got.

#2200 Minor gem updates
  Gemfile.lock
  app/views/applications/process/dependents/_pre_ucd.html.slim
  app/views/benefit_overrides/paper_evidence.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2200

#2137 RST-7165 data consistency check
  db/migrate/20250613093259_remove_columns_from_applications.rb
  db/schema.rb
  spec/factories/applications.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2137

#2202 RST-7521 Remove letter I from reference
  README.md
  app/services/hwf_reference_generator.rb
  charts/help-with-fees-staffapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2202

#2203 RST-7520 new letter for refund no evidence
  app/helpers/greeting_helper.rb
  app/views/evidence/return_letter.html.slim
  app/views/reports/letters.html.slim
  app/views/reports/new_letters.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
  config/locales/letters_en.yml
  config/locales/new_letters_en.yml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2203

#2205 RST-7271 Search staff
  app/controllers/users_controller.rb
  app/services/user_search.rb
  app/views/users/_filters_panel.html.slim
  app/views/users/search.html.slim
  charts/help-with-fees-staffapp/Chart.yaml
  config/routes.rb
  spec/services/user_search_spec.rb
  spec/views/users/index.html.slim_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2205

#2216 Minor gem updates
  Gemfile
  Gemfile.lock
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2216

#2226 Minor ruby and gem updates
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-staffapp-pr-2226

#2233 RST-7602 Date hints
  app/helpers/application_helper.rb
  app/views/applications/process/details/index.html.slim
  app/views/applications/process/fee_status/index.html.slim
  app/views/online_applications/edit.html.slim
  config/locales/en.yml
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-2233

#2241 Gem updates v33
  Gemfile.lock
  charts/help-with-fees-staffapp/Chart.yaml
  package.json
  yarn.lock
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-staffapp-pr-2241
